.slideshow-contacto {
    background: url(../images/contacto/contacto.jpg);
}

.slideshow-contacto h1 {
    background: rgba(255, 250, 250, 0.3);
}

@media (max-width: 767px) {
    .slideshow-contacto h1 {
        font-size: 3.5rem;
    }
}