.nav{
    position: fixed;
    width: 100%;
}
.banner{
    background: url("../images/ban-1.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center; 
}
.about-us{
    background: (transparent url('/images/black-back.jpg') no-repeat center center / cover);
}